{% extends "base.html" %}

{% block title %}Virtual Stock Market - About Us{% endblock %}
{% block dashboardNav %}class="selectMenu"{% endblock %}

{% block content %}

	<br />
	<h2>About Us</h2>
	<h5><u>Rylan Uherek</u>: rylan@scarletmail.rutgers.edu </h5>
	<h5><u>Avinash Oza</u>: avioza@scarletmail.rutgers.edu</h5>
	<h5><u>Aakash Patel</u>: aak4shpatel@gmail.com</h5>
	<h5><u>Mozam Todiwala</u>: tmozam@scarletmail.rutgers.edu</h5>
	<h5><u>Mandeep Desai</u>: Mandeep.desai11@gmail.com</h5>
	<h5><u>Pintu Patel</u>:php28@scarletmail.rutgers.edu</h5>
	<br />

	
	

{% endblock %}

