<!--written by: Aakash Patel
# tested by: Aakash Patel
# debugged by: Aakash Patel-->

{% extends "base.html" %}

{% block title %}Virtual Stock Market - Dashboard{% endblock %}
{% block dashboardNav %}class="selectMenu"{% endblock %}

{% block content %}

        <br />
        <h2>League Creation</h2>
        <p>Create your league here:</p>
        <br />

	

        <form action="{% url league.views.create_league %}" method="POST">

          
  	  {{ form.as_ul}}

   	 <input type="submit" onClick = "location.href = '{% url league.views.home %}'" value="submit"  />

  	  {% csrf_token %}

  	  </form>

		
                       

     
{% endblock %}

