{% extends "base.html" %}

{% block title %}Virtual Stock Market - FAQ{% endblock %}
{% block dashboardNav %}class="selectMenu"{% endblock %}

{% block content %}
	<br />
	<h2>FAQ</h2>
	<br />
<h4>How can I place a Buy Order?</h4>

<h6>-Buy orders are placed in the portfolio page. Once you are on the Portfolio page click on trade
and enter the required details and click on Buy.
</h6>

<h4>How can I place a Sell Order?</h4>

<h6>-Buy orders are placed in the portfolio page. Once you are on the Portfolio page click on trade
and select the stock you currently wish to sell. Once selected, simply click on the sell button.
</h6>
<h4>How can I join a League?</h4>

<h6>-Go to the League page and click on a league that you would like to join. On the league info
page, simply click the Join button. To join a private league you will have to be invited to league
where you will be provided with a password. Enter the password and you will successfully join
the league.
</h6>
<h4>How can I create a league?</h4>

<h6>-To create a league, go to the league home page and click on create league button. Upon
clicking you will be forwarded to a form. Simply fill out the form and click on create.
</h6>
<h4>How can I see leagues?</h4>

<h6>-All the current leagues are listed on the league home page. To go to the league home page
hover around the Profile tab and click on Leagues.
</h6>
<h4>How do I delete someone from a private league?</h4>

<h6>-To delete someone from a private league you will have to be the creator of the private league.
If you are the creator of the private league, click on the admin panel on the league info page
and ‘kick’ the user you wish to delete.
</h6>
<h4>How is the ranking determined in the league page?</h4>

<h6>-Overall ranking page is determined by taking the current value minus the starting value divided
by the starting balance.
</h6>
<h4>How can I see my Portfolio?</h4>

<h6>-After logging on hover around the Profile tab and click on Portfolio. The page should load up
with your latest trades.
</h6>	
	

{% endblock %}

