<!--written by: Aakash Patel
# tested by: Aakash Patel
# debugged by: Aakash Patel-->

{% extends "base.html" %}

{% block content %}
<body id="sub_page"><div class="ddshadow toplevelshadow" style="left: 1040px; top: 95px;"></div>

</div>
   <div id="templatemo_middle">
      <div id="mid_slider">
            <div id="news">
			 
<!-- TradingView Widget BEGIN -->
			<script type="text/javascript" src="https://s3.amazonaws.com/tradingview/tv.js"></script>
			<script type="text/javascript">
			new TradingView.widget({
				"autosize": true,
				"symbol": "GOOG",
				"interval": "D",
				"toolbar_bg": "#E4E8EB",
				"allow_symbol_change": true
				});
			</script>
<!-- TradingView Widget END -->
               
            </div>
        </div>
        <div id="mid_left">
            <div id="mid_title">
                <span>A Virtual Stock Market Game</span>
            </div>
            <p>The Virtual Stock Market Project is a work-in-progress game that can simulate the actions of a real stock portfolio.  One can use the ticker to check the prices of stocks, as well as, buy and sell stocks using virtual money. The goal of the game is simple,use the initially given virtual money to trade shares as one would in real life. Compete with friends to see who can grow their virtual money the fastest.  </p>
            <div id="learn_more"><a href="{% url home %}">Learn More</a></div>
        </div>
        <div class="cleaner"></div>
    </div> <!-- end of templatemo_middle -->
    
    <div id="templatemo_main">
	
	<div style="float: right;">
		 <script id="feed-1362124691731607" type="text/javascript" src="http://rss.bloople.net/?url=http%3A%2F%2Fonline.wsj.com%2Fxml%2Frss%2F3_7031.xml&type=js&id=1362124691731607"></script>
	</div>
{% endblock %}
