<!--written by: Aakash Patel
# tested by: Aakash Patel
# debugged by: Aakash Patel-->

{% extends "base.html" %}

{% block title %}Virtual Stock Market - Dashboard{% endblock %}
{% block dashboardNav %}class="selectMenu"{% endblock %}

{% block content %}

	<br />
	<h2>League</h2>
	<p>Public Leagues Available:</p>
	<br />

	
	<table style="margin-left: auto; margin-right: auto;">
		<thead>
			<tr>
				<th>League Name:&nbsp;</th>
				<th>End Date:&nbsp;</th>
			</tr>
		</thead>
		{% for item in leagues %}
			<tr>
				
		<td><a href = "{% url league.views.league_info item.id %}"> {{ item.league_name }}  </a></td> 
				
				<td>{{ item.end_date }}</td>
				
			</tr>
		{% endfor %}
</table>

	<br />
<center> <input type=button onClick="location.href='{% url league.views.create_league %}'" value='Create League'> </center>
 

{% endblock %}

