<!--written by: Aakash Patel
# tested by: Aakash Patel
# debugged by: Aakash Patel-->

{% extends "base.html" %}

{% block title %}Virtual Stock Market - Trade{% endblock %}
{% block dashboardNav %}class="selectMenu"{% endblock %}

{% block content %}

	<br />
	<h2>Trade</h2>
	<p>Please enter the following to trade for your portfolio:</p>
	<br />

	<form action="{% url portfolio.views.trade leagueuser_id %}" method="post">
	{% csrf_token %}
	{{ form.as_p }}
	<input type="submit" value="Submit Trade" />
	</form>

	<br />
{% endblock %}
