<!--written by: Aakash Patel
# tested by: Aakash Patel
# debugged by: Aakash Patel-->

{% extends "base.html" %}

{% block content %}
 <div id="templatemo_main">
    	<h2>Register</h2>
        <div class="col_w630 float_l">	
	<div id="contact_form">		 
        <h4>Register for a Money Machine account:</h4>
               
                
                <form method="post" id="registration" action="{% url register %}">
                        {% csrf_token %}

                                <p>     
                                        {{ form.FirstName.label }}
                                        <br />
                                        {{ form.FirstName }}
                                        <br />
                                        {% for error in form.errors.FirstName %}<span style="color:red;">{{ error|escape }} </span>{% endfor %}
                                </p>
                                <br class="spacer" />

                                <p>     
                                        {{ form.LastName.label }}
                                        <br />
                                        {{ form.LastName }}
                                        <br />
                                        {% for error in form.errors.LastName %}<span style="color:red;">{{ error|escape }} </span>{% endfor %}
                                </p>
                                <br class="spacer" />

                                <p>     
                                        {{ form.Username.label }}
                                        <br />
                                        {{ form.Username }}
                                        <br />
                                        {% for error in form.errors.Username %}<span style="color:red;">{{ error|escape }} </span>{% endfor %}
                                </p>
                                <br class="spacer" />

                                <p>     
                                        {{ form.Password.label }}
                                        <br />
                                        {{ form.Password }}
                                        <br />
                                        {% for error in form.errors.Password %}<span style="color:red;">{{ error|escape }} </span>{% endfor %}
                                </p>
                                <br class="spacer" />

                                <p>     
                                        {{ form.Email.label }}
                                        <br />
                                        {{ form.Email }}
                                        <br />
                                        {% for error in form.errors.Email %}<span style="color:red;">{{ error|escape }} </span>{% endfor %}
                                </p>
				<br class="spacer" />

                                <p>     
                                        {{ form.ConfirmEmail.label }}
                                        <br />
                                        {{ form.ConfirmEmail }}
                                        <br />
                                        {% for error in form.errors.ConfirmEmail %}<span style="color:red;">{{ error|escape }} </span>{% endfor %}
                                </p>
		     <input type="submit" value="Register!" id="registerUser" name="submit" class="submit_btn float_l" />
		     <input type="reset" value="Reset" id="reset" name="reset" class="submit_btn float_r" />

                        </form>
</div>
        
            </div> 
{% endblock %}
